:root {
    --light-header: var(--light-background);
    --dark-header: var(--dark-background);
}

body {
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 0.8em;
}

.post-title, div.archive > h1 {
    padding-top: 0;
}

.post-content {
    overflow-wrap: break-word;
    word-wrap: break-word;  
}
